In [3]:
# Importing Lib
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
df = pd.read_csv('summer.csv')

In [7]:
df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [11]:
df['City'].unique()

array(['Athens', 'Paris', 'St Louis', 'London', 'Stockholm', 'Antwerp',
       'Amsterdam', 'Los Angeles', 'Berlin', 'Helsinki',
       'Melbourne / Stockholm', 'Rome', 'Tokyo', 'Mexico', 'Munich',
       'Montreal', 'Moscow', 'Seoul', 'Barcelona', 'Atlanta', 'Sydney',
       'Beijing'], dtype=object)

In [15]:
for sport in df['Sport'].unique():
    print(sport," : ",len(df[df['Medal'] == 'Gold']))

Aquatics  :  10486
Athletics  :  10486
Cycling  :  10486
Fencing  :  10486
Gymnastics  :  10486
Shooting  :  10486
Tennis  :  10486
Weightlifting  :  10486
Wrestling  :  10486
Archery  :  10486
Basque Pelota  :  10486
Cricket  :  10486
Croquet  :  10486
Equestrian  :  10486
Football  :  10486
Golf  :  10486
Polo  :  10486
Rowing  :  10486
Rugby  :  10486
Sailing  :  10486
Tug of War  :  10486
Boxing  :  10486
Lacrosse  :  10486
Roque  :  10486
Hockey  :  10486
Jeu de paume  :  10486
Rackets  :  10486
Skating  :  10486
Water Motorsports  :  10486
Modern Pentathlon  :  10486
Ice Hockey  :  10486
Basketball  :  10486
Canoe / Kayak  :  10486
Handball  :  10486
Judo  :  10486
Volleyball  :  10486
Table Tennis  :  10486
Badminton  :  10486
Baseball  :  10486
Softball  :  10486
Taekwondo  :  10486
Triathlon  :  10486
Canoe  :  10486

# Summer Olympics Data Analysis Assignment

### 1. In how many cities Summer Olympics is held so far?

In [14]:
len(df['City'].unique())

22

### 2. Which sport is having most number of Gold Medals so far? (Top 5)

### 3. Which sport is having most number of medals so far? (Top 5)

### 4. Which player has won most number of medals? (Top 5)

### 5. Which player has won most number Gold Medals of medals? (Top 5)

### 6. In which year India won first Gold Medal in Summer Olympics?

### 7. Which event is most popular in terms on number of players? (Top 5)

### 8. Which sport is having most female Gold Medalists? (Top 5)